# atBatModel.ipynb

This Jupyter notebook is meant as an example of how to use atBatModel.py.

In [1]:
import atBatModel as abm
import numpy as np

Initialize player classes using a name. The players' names and various IDs are saved as class variables.

In [2]:
pitcher = abm.player(name=["Gerrit", "Cole"])
batter = abm.player(name=["Mike", "Trout"])

print("Player name: ", batter.playerName)
print(batter.playerID)

Player name:  Mike Trout
name_last               trout
name_first               mike
key_mlbam              545361
key_retro            troum001
key_bbref           troutmi01
key_fangraphs           10155
mlb_played_first       2011.0
mlb_played_last        2021.0
Name: 0, dtype: object

Download player Statcast data. Per pybaseball, it is represented as a Pandas dataFrame. It is returned as a function output and saved to the player object's namespace.

In [3]:
pitcher.getStatcastData(playerType="pitcher")
batter.getStatcastData(playerType="batter")

Gathering Player Data
Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,FF,2021-05-17,95.1,1.85,6.60,"Trout, Mike",545361,656529,walk,ball,...,1,1,0,0,1,Standard,Standard,136.0,0.022,0.187
1,FF,2021-05-17,93.6,1.58,6.66,"Trout, Mike",545361,656529,NaN,ball,...,1,1,0,0,1,Standard,Standard,146.0,0.016,0.136
2,CU,2021-05-17,80.2,1.64,6.77,"Trout, Mike",545361,656529,NaN,called_strike,...,1,1,0,0,1,Standard,Standard,321.0,0.000,-0.060
3,CU,2021-05-17,79.7,1.70,6.64,"Trout, Mike",545361,656529,NaN,ball,...,1,1,0,0,1,Standard,Standard,321.0,0.000,0.070
4,FF,2021-05-17,94.6,1.79,6.66,"Trout, Mike",545361,656529,NaN,ball,...,1,1,0,0,1,Standard,Standard,144.0,0.000,0.046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,SI,2021-04-01,96.1,2.18,5.63,"Trout, Mike",545361,607481,NaN,ball,...,3,3,2,2,3,Standard,Standard,125.0,0.000,0.079
606,FF,2021-04-01,99.2,-1.50,5.80,"Trout, Mike",545361,676051,walk,ball,...,3,3,2,2,3,Strategic,Standard,213.0,0.045,0.099
607,FF,2021-04-01,99.0,-1.41,5.87,"Trout, Mike",545361,676051,NaN,ball,...,3,3,2,2,3,Standard,Standard,146.0,0.000,0.088
608,FF,2021-04-01,98.4,-1.40,5.92,"Trout, Mike",545361,676051,NaN,ball,...,3,3,2,2,3,Standard,Standard,255.0,0.000,0.050
609,SL,2021-04-01,89.1,-1.60,5.65,"Trout, Mike",545361,676051,NaN,ball,...,3,3,2,2,3,Standard,Standard,33.0,0.000,0.026

To construct the Markov model, we initialize an instance of the markovModel class using pitcher and batter classes as parameters. The construction of the Markov matrix and calculation of the logistic model takes place automatically. The sanitized data used to calculate the model is also saved in the object namespace.

In [4]:
model = abm.markovModel(pitcher = pitcher, batter = batter)

print(model.markovMatrix)

[[0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.43  0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.418 0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.416 0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.463 0.    0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.46  0.    0.    0.431 0.    0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.458 0.    0.    0.429 0.    0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.    0.437 0.    0.    0.417 0.    0.    0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.    0.    0.462 0.    0.    0.    0.122 0.    0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.    0.    0.    0.458 0.    0.    0.437 0.125 0.    0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.    0.    0.    0.    0.464 0.    0.    0.433 0.132 0.
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.    0.    0.    0.    0.    0.457 0.    0.    0.435 0.144
  0.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.    0.448 0.    0.    0.    0.422 0.    0.    0.    0.429
  1.    0.    0.    0.    0.    0.   ]
 [0.    0.    0.    0.    0.    0.    0.    0.    0.001 0.    0.    0.
  0.    1.    0.    0.    0.    0.   ]
 [0.026 0.034 0.038 0.034 0.026 0.03  0.033 0.036 0.027 0.028 0.029 0.034
  0.    0.    1.    0.    0.    0.   ]
 [0.013 0.012 0.011 0.008 0.012 0.011 0.012 0.011 0.013 0.012 0.011 0.011
  0.    0.    0.    1.    0.    0.   ]
 [0.016 0.016 0.018 0.021 0.015 0.016 0.016 0.017 0.015 0.015 0.016 0.017
  0.    0.    0.    0.    1.    0.   ]
 [0.052 0.059 0.058 0.051 0.053 0.055 0.059 0.058 0.387 0.385 0.376 0.366
  0.    0.    0.    0.    0.    1.   ]]

To obtain the raw outcome vector, we use the method simulatePitches. We may specify the starting count, as well as a number of iterations of the matrix equation x_{n+1} = Ax_n. Every iteration is like one pitch in an at-bat.

In [5]:
outcomeVector = model.simulatePitches(100, (0,0))

np.round(outcomeVector, 3)

array([0.   , 0.   , 0.   , 0.   , 0.   , 0.   , 0.   , 0.   , 0.   ,
       0.   , 0.   , 0.   , 0.189, 0.   , 0.119, 0.048, 0.065, 0.577])

We may also compute stats using the method outcomeStats.

In [6]:
model.outcomeStats()

Pitcher    Gerrit Cole
Batter      Mike Trout
pWalk            0.189
pHBP               0.0
p1B              0.119
p2B              0.048
pHR              0.065
pOut             0.577
AVG              0.232
OBP              0.423
SLG              0.475
OPS              0.898
wOBA             0.433
dtype: object